body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
    
}

.header {
    background-color: rgb(175, 228, 215);
    padding-top: 20px;
    z-index: 3;
    height: 80px;
    width: 100%;
}
.header__logo {
    width: 131px;
    height: 31px;
    font-family: 'Motter Corpus Std';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0B4141;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 3; 
    padding-left: 100px;
    
}
.header__text {
    align-items: center;
    color: white;
}
.header__body{

}
.header__link {
    
    text-decoration: none;
    margin-right: 16px;
    z-index: 3;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #0B4141;
    
}
.header__link:not(:last-child) {
    margin-right: 18px;
   
}
.header__burger{
    display: none;
    transition: 0.3s ease-in-out;
}
.header__logo {
}
.header__menu {
    
    padding-bottom: 10px;
    align-items: center;
    
}
.header__list {
    display: flex;
    list-style: none;
}

/* hero */

.hero{
    padding-top: 119px;
}
.hero__body{
    justify-content: center;
}
.hero__title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 128px;
    /* or 107% */

    text-align: center;

    /* Secondary */

    color: #FFCCBC;
   

}
/* .hero__unicorn {
    position: relative;
    
    height: 600px;
    background-image: url(img/unicorn.png);
    background-repeat: no-repeat;
    z-index: 1;
    margin-top: -81px;
    
} */
.hero__black {
    text-align: center;
    margin-top: 10px;
    z-index: 3;
    font-family: 'Motter Corpus Std';
font-style: normal;
font-weight: 400;
font-size: 120px;
line-height: 128px;
/* identical to box height, or 107% */


align-items: flex-end;
text-align: center;

/* Gradient Primary */

background: linear-gradient(180deg, #0B4141 45.83%, #0B1F1F 45.84%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

    
}


/* corn */
.corn {
    margin-top: 365px;
    height: 800px;
    background-color: pink ;
}
.corn__body {
}
.corn__title {
    padding-top: 196px;
    text-align: center;
    font-family: 'Motter Corpus Std';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 96px;
/* or 120% */
text-align: center;
color: #FFFFFF;
mix-blend-mode: normal;
z-index: 2;
}
.corn__text {
    padding-top: 24px;
    text-align: center;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */

text-align: center;

/* White */

color: #FFFFFF;

}

.dest{
    background: #0B2E27;
    height: 872px;
}
.dest__text {
    margin-top: 32px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #FFCCBC;
    
}

.dest__title {
    

    padding-top: 118px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 68px;
    line-height: 72px;
    color: #FFCCBC;
}
.dest__button {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Secondary */

    color: #FFCCBC;
    margin-top: 62px;
}
.btn-outline-primary{
    --bs-btn-color:  #FFCCBC;
    --bs-btn-border-color:  #FFCCBC;
}
.dest__uni {
    margin-top: 100px;
    
    width: 300px;
    height: 300px;
    position: relative;
    background-image: url(img/unicorn.png);
    background-repeat: no-repeat;
    z-index: 1;
    background-size: 200%;
    background-position: center;

}
.alw {
    height: 1400px;
}
.alw__body {
}
.alw__alw {
}
.alw__uni {
    margin-top: 192px;
    background-color: pink;
    
    border-radius: 50%;
}
.alw__alw-2 {
}
.alw__uni-1 {
}
.alw__title {
    margin-top: 192px;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 900;
font-size: 68px;
line-height: 72px;
/* or 106% */


/* Secondary */

color: #FFCCBC;
}
.alw__text {
    margin-top: 32px;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */


/* Primary */

color: #0B4141;
}
.alw__min {
    margin-top: 49px;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;

/* Primary */

color: #0B4141;
}
.alw__alw-2{
    margin-top: 100px;

}
.alw__title-1{
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 900;
font-size: 68px;
line-height: 72px;
/* or 106% */


/* Primary */

color: #0B4141;

}
.alw__text-1 {
    margin-top: 32px;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */


/* Primary */

color: #0B4141;

}
.alw__uni-1{
    background-color: #0B4141;
    border-radius: 50%;
    margin-top: 100px;
}

.mag {
    margin-top: 200px;
    background: rgba(245, 245, 245, 0.6);
    height: 800px;
}

.mag__body {
}
.mag__title {
    padding-top: 117px;
    font-family: 'Motter Corpus Std';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 96px;
/* identical to box height, or 120% */

text-align: center;

/* Secondary */

color: #FFCCBC;

}
.mag__text {
    padding-top: 24px;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */

text-align: center;

/* Primary */

color: #0B4141;

}
.mag__dop {
    margin-top: 30px;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */

text-align: center;

/* Primary */

color: #0B4141;

}

.talk__title{
    margin-top: 63px;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 900;
font-size: 68px;
line-height: 72px;
/* identical to box height, or 106% */

text-align: center;

/* White */

color: #FFFFFF;
}
.talk{
    
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,202,191,1) 42%);
}
.talk__card {
    margin-top: 64px;
    
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    border-radius: 8px;
    padding: 20px;
    margin-right: 24px;
}
.talk__text {
    margin-bottom: 26px;
    
    
}
.talk__info {
}
.talk__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: aqua;
    margin-right: 12px;
}
.talk__name {
}
.talk__link {
}


/* each */
.each {
    height: 860px;
}

.each__body {
}

.each__text {
    margin-top: 231px;
}
.each__title {
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 900;
font-size: 68px;
line-height: 72px;
/* or 106% */


/* Primary */

color: #0B4141;

}
.each__ball{margin-top: 231px;}
.each__info {
    margin-top: 32px;
    margin-bottom: 43px;
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */


/* Primary */

color: #0B4141;
    
}
.each-ball-1{height: 250px; max-width: 250px ; border-radius: 50%; background-color: black; }
.each-ball-2{height: 150px; max-width: 250px ; border-radius: 50%; background-color: pink; }
.each-ball-3{height: 200px; max-width: 250px ; border-radius: 50%; background-color: antiquewhite;}




.exi{
    margin-bottom: 107px;
   
}
.exi__block{
    margin-top: 139px;
    width: 50%;
    margin-right: 1vh;
    height: 40px;
    width: 40px;
    
    background: linear-gradient(0deg, #1D76F2 -0.01%, #1AC2FB 99.99%);
    text-align: center;

}
.exi__text{
    text-align: center;
    
}




.footer__title{
    font-family: 'Motter Corpus Std';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 96px;
/* or 120% */

text-align: center;

/* Secondary */

color: #FFCCBC;

mix-blend-mode: normal;
}




.footer_body {
}
.footer__title {
}
.footer__but {
    text-align: center;
}
.footer__butn {
    text-align: center;
}
.footer__figm {
}
.footer__down {
}
.footer__sketch {
}




















@media(max-width:767px){
    body.lock{
        overflow: hidden;
    }
    .header {
        background-color: rgb(175, 228, 215);
        padding-bottom: 0px;
        z-index: 3;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .burger__pol{
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: 0.6s ease-in-out;
    }
    .header__burger:before,
    .header__burger::after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 0.5s ease-in-out;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active:before{
        transform: rotate(-45deg);
        margin-top: 7px;
        
    }
    .header__burger.active:after{
        transform: rotate(45deg);
        top: -0px;
        margin-top: 7px;
    }
    .header__burger.active span{
        transform: scale(0);
        
    }
    .header__menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(107, 168, 152, 0.9);
        padding-top: 60px;
        padding-right: 10px;
        left: 100%;
        transition: 0.3s ease-in-out;
    }
    .header__menu.active{
        left: 0;
    }
    .header:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: rgb(175, 228, 215);
        z-index: 2;
    }
    .header__logo {
        width: 50px;
        height: 50px;
        padding-top: 0px;
         margin-top: 0px;   
    }
    .header__list{
        display: block;
        text-align: end;
        padding-left: 30px;
    }
    .header__li{
        margin-right: 20px;
        margin-bottom: 15px;
    }
}